@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-card-back: #ffe5d4;
    --color-primary: #e95003;
    --font-roboto: "Roboto", sans-serif;
}
